/* FORM STYLE */

form {
    width: 30%;
    animation: scaleOpacityAnimation 2s ease;
    overflow:-y auto;
    overflow-x: hidden;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    font-size: 0.6rem;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.form-field input {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255, 0.6);
    color: var(--primary-color);
    font-size: 0.6rem;
}

.form-field input:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
}


.form-field select {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255, 0.6);
    color: var(--primary-color);
    font-size: 0.6rem;
}

.form-field select:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
}

.form-field option:checked {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.form-field textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--tertiary-color);
    padding: 10px 30px;
    background-color: rgb(255, 255, 255, 0.6);
    color: var(--primary-color);
    font-size: 0.6rem;
}

.form-field textarea:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
}



div.submit {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-bottom: 20px;
}

input[type="file"] {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255, 0.6);
    color: var(--primary-color);
    font-size: 0.6rem;
}

input[type="submit"] {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 60px;
    width: 45%;
    border-radius: 30px;
    font-size: 0.6rem;
    font-weight: bold;
    border: none;
    box-shadow: var(--default-box-shadow);
}

input[type="submit"]:hover {
    box-shadow: none;
    scale: 1.02;
}

.account-query {
    font-size: 0.6rem;
    color: var(--primary-color);
    font-weight: 500;
}

.account-query a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
}

.account-query a:hover {
    text-decoration: underline;
}

.delete-query {
    width: 100%;
}

.delete-query .query {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
}

.delete-query .details {
    color: var(--tertiary-color);
    padding: 20px;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.details p a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.details p a:hover {
    text-decoration: underline;
}


/* ----------------------------------- MEDIA QUERIES -------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* TAB */
/* @media screen and (max-width: 1024px) {
    form {
        width: 100%;
        height: 55%;
        padding: var(--default-spacing)
    }

    form .title-container {
        width: 100%;
    }
} */


/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* MOBILE */
/* @media screen and (max-width: 540px) {
    form {
        width: 100%;
        height: 55%;
        padding: 20px;
    }

    form .title-container {
        width: 100%;
    }
} */
