#library {
    height: 130vh;
    padding: 50px 0;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    gap: 50px;
}

#library .breadcrumb {
    height: 30%;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 20px 0;
    animation: scaleOpacityAnimation 2s ease;
}

.breadcrumb h1 {
    color: var(--secondary-color);
    font-size: 1.1rem;
    padding-bottom: 30px;
}

.breadcrumb p {
    color: var(--tertiary-color);
    font-size: 0.7rem;
}

.library-content {
    padding: 0 200px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.all-books {
    height: 90%;
    padding-top: 20px;
    overflow: auto;
}

.all-books .book {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
    font-size: 0.6rem;
    box-shadow: var(--default-box-shadow);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
    animation: slideDownOpacityAnimation 2s ease;
}

.book b {
    color: var(--secondary-color);
    display: block;
    margin-bottom: 10px;
}

.book p {
    margin-bottom: 20px;
}

.book .details {
    width: 100%;
}

.book .details a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}

.details .book-title {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.book .details a:hover {
    text-decoration: underline;
}

.book .picture {
    height: 180px;
    width: 150px;
}

.picture img  {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

p.no-content {
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
    color: var(--tertiary-color);
}

/* ---------------------------------------- */
            /* FILTER FORM */
/* ---------------------------------------- */

.filter-form-container {
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: start;
    animation: slideDownOpacityAnimation 2s ease;
}

form.filter-form {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 40px;
    width: 70%;
    height: 100%;
}

form.filter-form .fields {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 40px;
    width: 100%;
    height: 100%;
}

form.filter-form .form-field{
    width: 100%;
}

.form-field label {
    display: block;
    font-size: 0.6rem;
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.form-field input {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255, 0.6);
    color: var(--primary-color);
    font-size: 0.6rem;
}

.form-field input:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
}

.form-field select {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255, 0.6);
    color: var(--primary-color);
    font-size: 0.6rem;
}

.form-field select:focus {
    outline: none;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
}

.form-field option:checked {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

form.filter-form .submit{
    width: 100%;
}

input[type="submit"] {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    height: 60px;
    width: 45%;
    border-radius: 30px;
    font-size: 0.6rem;
    font-weight: bold;
    border: none;
    box-shadow: var(--default-box-shadow);
}

input[type="submit"]:hover {
    box-shadow: none;
    scale: 1.02;
}



/* ----------------------------------- MEDIA QUERIES -------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* TAB */
@media screen and (max-width: 1024px) {
    #library {
        gap: 20px;
    }

    #library .breadcrumb {
        height: 30%;
    }
    
    .library-content {
        padding: 0 50px;
        height: 65%;
    }

    form.filter-form {
        width: 100%;
        gap: 10px;
        padding: 0;
    }
}


/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* MOBILE */
@media screen and (max-width: 540px) {
    #library {
        height: 160vh;
        gap: 20px;
    }

    #library .breadcrumb {
        height: 20%;
    }

    .library-content {
        padding: 0 20px;
        justify-content: flex-start;
        height: 80%;
    }

    .all-books {
        height: 90%;
        padding-top: 20px;
        overflow: auto;
    }
    
    .book .picture {
        display: none;
    }

    .filter-form-container {
        margin-top: 40px;
    }

    form.filter-form {
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
}

