#profile {
    height: 100vh;
    padding: 0 200px 0 0;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: start;
    /* overflow: auto; */
    gap: 150px;
}

.hero-img {
    width: 60%;
    height: 100%;
}

/* HEADING */

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading .settings {
    color: var(--primary-color);
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}

.settings:hover {
    font-weight: bold;
}

.settings-container {
    position: relative;
    cursor: pointer;
}

.settings-links {
    position: absolute;
    right: 0;
    font-size: 0.5rem;
    background-color: var(--primary-color);
    height: 200px;
    width: 250px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow);
}

.settings-links a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.settings-links a:hover {
    font-weight: bold;
}


/* USER DETAILS */

.user-details {
    width: 40%;
    animation: scaleOpacityAnimation 2s ease;
}

.user-details .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    margin: 20px 0;
}

.profile-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: opacityAnimation 2s ease;
}

.user-details .detail {
    margin-bottom: 30px;
    width: 100%;
}

.user-details h3 {
    font-size: 0.75rem;
    color: var(--tertiary-color);
}

.user-details p {
    font-size: 0.7rem;
    margin: 20px;
    color: rgb(255, 255, 255, 0.7);
}


/* ----------------------------------- MEDIA QUERIES -------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* TAB */
@media screen and (max-width: 1024px) {
    #profile {
        height: 120vh;
        flex-direction: column;
        padding: 0;
        gap: 0;
        overflow: auto;
    }
    
    .hero-img {
        width: 100%;
        height: 40%;
        overflow: hidden;
    }

    .user-details {
        width: 100%;
        padding: 0 100px;
    }
}


/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* MOBILE */
@media screen and (max-width: 540px) {
    #profile {
        height: 100vh;
        flex-direction: column;
        gap: 0;
        overflow: auto;
    }

    .hero-img {
        width: 100%;
        height: 50%;
        overflow: hidden;
    }

    .user-details {
        width: 100%;
        padding: 10px 50px;
        height: 60%;
        overflow-y: auto;

        /* height: 30%; */
    }
}
